<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span>CO-Work</span>
    <span class="head-spacer"></span>
    <button mat-button>About Us</button>

  </mat-toolbar-row>
</mat-toolbar>

<div class="center-page">
  <h1>WELCOME CO-Work</h1>
  <form class="login-form">
    <mat-form-field class="input-full-width">
      <input type="email" matInput placeholder="Email" required>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <input type="password" matInput placeholder="Password" required>
    </mat-form-field>
    <br>
    <button type="reset" mat-button>reset</button>
    <button type="submit" mat-button>submit</button>
  </form>
  <br>
  <p>Forgot password. click <a href="">here</a></p>
  <p><a href="http://localhost:4200/register">You can sing up here</a></p>
</div>