<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <span>CO-Work</span>
        <span class="head-spacer"></span>
        <button mat-button>About Us</button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="center-page">
    <h1>WELCOME CO-Work</h1>
    <form method="post" class="sing-up-form" action="http://localhost:8000/api/register">
        <mat-form-field class="input-full-width">
            <input type="email" matInput placeholder="Email" name="email" required>
        </mat-form-field>
        <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="Username" name="name" required>
        </mat-form-field>
        <mat-form-field class="input-full-width">
            <input type="password" matInput placeholder="Password" name="password" required>
        </mat-form-field>
        <mat-form-field class="input-full-width">
            <input type="password" matInput placeholder="Confirm Password" name="confirm_password" required>
        </mat-form-field>
        <mat-form-field class="input-full-width">
            <input type="file" matInput name="image" required>
        </mat-form-field>
        <br>
        <button type="reset" mat-button>reset</button>
        <button type="submit" mat-button>submit</button>
    </form>
    <br>
    <p><a href="http://localhost:4200/register">You can sing in here</a></p>
</div>

<br>
<p>This is for provider sing up</p>